{%extends 'base.html' %}
{% load static %}
{%block css%}
<style>
    h1 {
        margin-top: 2rem;
    }

    h2{
        margin-top: 5rem;
        font-size: 1.5rem;
        text-align:justify;
    }
</style>
{%endblock%}
{%block content%}
{%if inmueble_hallado != None %}
<div style="background-color: rgb(193, 232, 252);">
<h1 class="text-center pt-5 pb-5" >{{inmueble_hallado.nombre}}</h1>
    <div class="container">
        <div class="row">
        {%if inmueble_hallado.imagen1 or inmueble_hallado.imagen2 or inmueble_hallado.imagen3 %}
            <div class="col-md-6">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div id="carouselExample" class="carousel slide carousel-fade">

                    <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="{{ inmueble_hallado.imagen1}}" class="d-block w-100" alt="carou1">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{ inmueble_hallado.imagen2 }}" class="d-block w-100" alt="carou2">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{{ inmueble_hallado.imagen3 }}" class="d-block w-100" alt="carou3">
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            </div>
        {%endif%}
        <div class="col-md-1"></div>
        <div class="col-md-5">
        <div class="card mb-5">
        <div class="card-body">
                <h5 class="card-title">{{inmueble_hallado.direccion}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{inmueble_hallado.comuna.nombre}}, Región {{inmueble_hallado.comuna.region.nombre}}</h6>
                <p class="card-text">{{inmueble_hallado.descripcion}}</p>            
                <ul>
                    <li class="list-group-item mt-5">
                        <h2 class="text-center">{{inmueble_hallado.tipo_inmueble}}</h2>                
                    </li>
                    <li class="list-group-item mt-3">
                        <h2>${{inmueble_hallado.precio}}</h2>                
                    </li>
                    <li class="list-group-item mt-3">
                        <h2><i class="fa-solid fa-chart-area"></i>     Área construída: {{inmueble_hallado.m2_construidos}} m^2</h2>                
                    </li>
                    <li class="list-group-item mt-3">
                        <h2><i class="fa-solid fa-mountain-sun"></i>    Terreno: {{inmueble_hallado.precio}} m^2</h2>                
                    </li>
                    <li class="list-group-item mt-3">
                        <h2><i class="fa-solid fa-car"></i>     Estacionamientos: {{inmueble_hallado.cantidad_estacionamientos}}</h2>                
                    </li>
                    <li class="list-group-item mt-3">
                        <h2><i class="fa-solid fa-person-booth"></i>    Habitaciones: {{inmueble_hallado.cantidad_habitaciones}}</h2>                
                    </li>
                    <li class="list-group-item mt-3">
                        <h2><i class="fa-solid fa-toilet"></i>      Baños: {{inmueble_hallado.cantidad_baños}}</h2>                
                    </li>
                </ul>
            </div>
            
            </div>
        </div>

  {% endif %}
{%endblock%}


