{%extends 'base.html'%}

{%block content%}
<div style="background-color: rgb(193, 232, 252);">
    <h3 class="text-center pt-5">Editando la propiedad {{inmueble.nombre}}</h3>
    <form action="{% url 'editar_inmueble' id=inmueble.id %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" required placeholder="nombre de la propiedad" name="nombre" value="{{inmueble.nombre}}">
                </div>

                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción:</label>
                    <textarea name="descripcion" class="form-control" id="descripcion" rows="3" required maxlength="1500" placeholder="breve descripción...">{{inmueble.descripcion}}</textarea>
                </div>

                <div class="mb-3">
                    <label for="nombre" class="form-label">Metros Construídos:</label>
                    <input min="1" name="m2_construidos" type="number" class="form-control" id="m2_construidos" required placeholder="23 m^2" value="{{inmueble.m2_construidos}}">
                </div>

                <div class="mb-3">
                    <label for="nombre" class="form-label">Metros Totales:</label>
                    <input min="1" name="m2_totales_terreno" type="number" class="form-control" id="m2_totales" required placeholder="50 m^2" value="{{inmueble.m2_totales_terreno}}">
                </div>
                <div class="mb-3">
                    <label for="imagen1" class="form-label">Imagen 1</label>
                    <input name="imagen1" type="url" class="form-control" id="imagen1" placeholder="Inserte URL de la imagen 1" value="{{ inmueble.imagen1 }}">
                </div>
                <div class="mb-3">
                    <label for="imagen2" class="form-label">Imagen 2</label>
                    <input name="imagen2" type="url" class="form-control" id="imagen2" placeholder="Inserte URL de la imagen 2" value="{{ inmueble.imagen2 }}">
                </div>
                <div class="mb-3">
                    <label for="imagen3" class="form-label">Imagen 3</label>
                    <input name="imagen3" type="url" class="form-control" id="imagen3" placeholder="Inserte URL de la imagen 3" value="{{ inmueble.imagen3 }}">
                </div>
                
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Cantidad de Estacionamientos</label>
                    <input min="0" name="cantidad_estacionamientos" type="number" class="form-control" id="cantidad_estacionamientos" required placeholder="cantidad de estacionamientos" value="{{inmueble.cantidad_estacionamientos}}">
                    
                </div>

                <div class="mb-3">
                    <label for="nombre" class="form-label">Cantidad de Habitaciones</label>
                    <input min="0" name="cantidad_habitaciones" type="number" class="form-control" id="nro_habitaciones" required placeholder="cantidad de habitaciones" value={{inmueble.cantidad_habitaciones}}>
                </div>

                <div class="mb-3">
                    <label for="nombre" class="form-label">Cantidad de Baños</label>
                    <input min="0" name="cantidad_baños" type="number" class="form-control" id="nro_baños" required placeholder="cantidad de baños" value={{inmueble.cantidad_baños}}>
                </div>

                <div class="mb-3">
                    <label for="nombre" class="form-label">Direccion</label>
                    <input type="text" class="form-control" id="direccion" required placeholder="Tu dirección" name="direccion" value="{{inmueble.direccion}}">
                </div>
                {%if inmueble.imagen1 or inmueble.imagen2 or inmueble.imagen3 %}
                <div class="mb-3">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div id="carouselExample" class="carousel slide carousel-fade">
        
                        <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="{{ inmueble.imagen1}}" class="d-block w-100" alt="carou1">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="{{ inmueble.imagen2 }}" class="d-block w-100" alt="carou2">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="{{ inmueble.imagen3 }}" class="d-block w-100" alt="carou3">
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                </div>
                {%endif%}

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2" style="margin-top: 2rem;">
                <div class="mb-3">
                    <select class="form-select" required name="tipo_inmueble">
                        <option value>Selecciona un tipo</option>
                        {% for tt in inmueble.tipos %}
                            <option 
                            value="{{ tt.0 }}"
                        {%if tt.0 == inmueble.tipo_inmueble %}selected{%endif%}>
                            {{ tt.1 }}</option>
                        {% endfor %}
                        </select>
                </div>

                <div class="mb-3">
                    <label for="nombre" class="form-label">Precio (CLP)</label>
                    <input min="1000" name="precio" type="number" class="form-control" id="precio" type="number" required placeholder="$250.000" value="{{inmueble.precio}}">
                </div>

                <div class="mb-3">
                    <select class="form-select" name="region_cod" id="region_cod">
                        <option value>Selecciona una Región</option>
                        {% for region in regiones %}
                            <option value="{{ region.cod }}"
                            {%if region.cod == cod_region %}selected{%endif%}
                            >{{ region.nombre }}</option>
                        {% endfor %}
                        </select>
                </div> 
                
                <div class="mb-3">
                    <select class="form-select" required name="comuna_cod" id="comuna_cod">
                        <option value>Selecciona una Comuna</option>
                        {% for comuna in comunas %}
                            <option value="{{ comuna.cod }}"
                            {% if comuna.cod == inmueble.comuna_id %}selected{%endif%}
                            >{{ comuna.nombre }}</option>
                        {% endfor %}
                        </select>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success mb-5">Editar</button>
        </div>
    </form>
</div>
{%endblock%}

{%block js%}
<script>
    function filtrar_comunas() {
        //recuperamos el valor seleccionado de la region
        const cod_seleccionado = $(this).val()
        //ahora iteramos sobre todas las comunas , y mostramos sólo aquellas cuyo código tenga como prefijo el código de la región seleccionada
        $('#comuna_cod option').each(function(){
            const comuna = $(this)
            const cod_comuna = comuna.val()
            if (cod_seleccionado == cod_comuna.substring(0, 2)) {
                //La comuna es parte de la región
                comuna.show()
            }else{
                comuna.hide()
            }
        })
    }
    $('#region_cod').on('change', filtrar_comunas)
</script>
{%endblock%}

